<div class="row mt-4 mx-1">
    <div class="col-12 bg-dark-secondary p-3">
        <h4>
            Your saved organizations
            <span class="badge badge-danger rounded-circle">{{events_list.all.count}}</span>
        </h4>
    </div>
</div>
<div class="form-row my-4">
{% for subscription in subscriptions %}
    <div class="col-lg-4 col-md-6 d-flex align-items-strech">
        <div class="card card border-0 w-100 rounded">
            <div class="card-header bg-dark-primary text-white">
                <h6 class = "float-left">
                    {{subscription.organizer.name}}
                </h6>
            </div>
            <div class="card-body bg-dark-secondary text-white">
                <p class = "card-text">
                    {{subscription.organizer.description}}
                </p>
            </div>
            <div class = "bg-dark-secondary px-4 pb-2">
                <a href = "#" class = "disabled btn btn-sm rounded-pill btn-danger float-right">Subscribed</a>
                <form action="{% url 'delete-subscription' subscription.id %}" method = "post">
                    {% csrf_token %}
                    <button type = "submit" class = "float-right btn btn-outline-danger btn-sm rounded-pill mx-2">Unsubscribe</button>
                </form>
            </div>
        </div>
    </div>
{%empty%}
    <div class="col-lg-4 col-md-6 d-flex align-items-strech">
        <div class="card card border-0 w-100 rounded">
            <div class="card-body bg-dark-secondary">
                <h3 class = "text-center py-3">You have no subscribed organizations</h3>
                <p class = "text-center py-3">Once you find interesting organizations you can save them here.</p>
            </div>
        </div>
    </div>
{% endfor %} 
    <div class="col-lg-4 col-md-6 d-flex align-items-strech">
        <div class="card card border-0 w-100 ">
            <div class="card-body d-flex align-items-strech p-0 bg-dark-secondary">
                <a href = "{% url 'organizers' %}" class = " btn card-body bg-dark-secondary" role= "button">
                    <span class = "btn btn-outline-danger rounded-pill">
                        Find Organization
                    </span>
                </a>

            </div>
        </div>
    </div>   
</div>
