{% if not request.user.is_authenticated %}
    <a class = "show-form nav-item nav-link btn btn-danger mr-md-2 rounded-pill" href="{% url 'user:login' %}" title = "Sign In" data-class = "modal-sm" id = "login">Sign In</a>
    <a class = "show-form nav-item nav-link btn btn-danger shadow-sm rounded-pill my-md-0 my-2" href="{% url 'user:signup' %}" title = "Sign Up" data-class = "modal-sm">Sign Up</a>
{%else%}
    <div class="nav-item dropdown " >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.is_volunteer %}
                Hello, {{request.user.volunteer.name}}
            {%else%}
                Hello, {{request.user.organizer.name}}
            {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if request.user.is_volunteer %}
                <a class="dropdown-item" href="{% url 'user:dashboard' %}">
                    Dashboard
                </a>    
            {% endif %}
            {% if request.user.is_authenticated and not request.user.is_volunteer %}
                <a href="{% url 'event:add' request.user.slug %}" class="dropdown-item">Add Event</a>
                <a href="{% url 'event:my-events' request.user.slug %}" class="dropdown-item">My Events</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'user:settings' %}">
              Profile Settings
            </a>
            <a class="dropdown-item show-form" href="{% url 'user:changepassword' %}" data-class = "modal-sm">
              Change Password
            </a>
            <a class="dropdown-item text-white" href="{% url 'user:logout' %}"> Logout
            </a>
        </div>
    </div>
{%endif%}