{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/datetimepicker.min.css' %}"/>
    
    {% block css %}
    {% endblock css %}

</head>
<body class = "bg-dark-tertiary">
    
    <header class = "fixed-top ">
        {% include "header.html" %}    
    </header>
    
    <div id="main-wrapper" class = "position-absolute container-fluid pt-sm-0 pt-md-4 pt-lg-0">
        {% block main %}
            
        
        {% endblock main %}
    </div>
    
    <div class="modal fade bg-dark-tertiary" id="modal-form" data-backdrop="static">
        <div class="modal-dialog modal-sm"  role="document">
            <div class="modal-content bg-dark-primary">
                <div class="modal-header">
                    <h5 class="modal-title text-white ">User Login</h5>
                    <button type="button" class="font-weight-bolder btn rounded-circle btn-outline-danger border-2 " data-dismiss="modal" aria-label="Close">&times;
                    </button>
                </div>
                <div class="modal-body" id = "form-modal-body">
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script src="{% static 'js/datetimepicker.js' %}"></script>
    <script src = "{% static 'js/base.js' %}"></script>

    {% block js %}
    {% endblock js %}
    <script src = "{% static 'js/ajax_form_handling.js'%}"></script>
</body>
</html>