<nav class="navbar navbar-expand-md  navbar-dark bg-dark-secondary shadow-sm mb-5 rounded">
    <a class="navbar-brand border border-secondary rounded pl-3 pr-3" href="#">Come & Volunteer
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-md-flex justify-content-md-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link text-white" href="#">Start Voluntering</a>
        <a class="nav-item nav-link text-white" href="#">Find Volunteers</a>
        <a class="nav-item nav-link text-white" href="#">Search Organizations</a>        
    </div>
    <div class="navbar-nav">
        {% include "accounts_option.html" %}
    </div>

    </div>
</nav>
{% include "message.html" %}
            

