{% if messages %}
    {% for message in messages %}
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
      <div class="toast toast-container" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto">Alert</strong>
         
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
        <div class="toast-body" id = "pop-up-messages" >
          {{ message|safe }}
        </div>
      </div>
    </div>
    {% endfor %}
{% endif %}