
.border-2 {
    border-width:2px !important;
}
ul{
    list-style-type: none !important;
}

.form-group{
    margin-bottom: 5px !important;
}

/*sidebar*/
.navbar-nav .dropdown-menu {
    position:absolute !important;

    background-color:rgb(52, 58, 64) !important;;
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #FFF !important;
}


.dropdown-item:hover{
    background-color:rgb(0, 0, 0, 0.5) !important
}


#main-wrapper{
    top: 60px;
}

.size-200{
    width:200px;
    height:200px;
}