{% load crispy_forms_tags %}
<form action="{% url 'user:changepassword' %}" method = "post" class="ajax-submit">
  {% csrf_token %}
    <div class="form-row">
      <div class="col-12">
          {{form.old_password|as_crispy_field}} 
      </div>
      <div class="col-12 mb-1">
          {{form.new_password1}}
      </div>
      <div class="col-12 small text-muted ml-2">
          {{form.new_password1.help_text}}
      </div>
      <div class="col-12">
          {{form.new_password2|as_crispy_field}}
      </div>
      <div class="col-auto ml-auto">
          <input type="submit" name = "change-password" value = "Confirm" class="btn btn-outline-primary btn-sm rounded-pill">
      </div>
  </div>
</form>