{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 bg-dark-primary card  px-0 shadow-lg mt-2">

        <div class="card-header bg-dark-secondary">
          {% if validlink %}
            <h5>Enter your new password</h5>
          {%else%}
            <p class = "message col-sm-12 pt-3 pb-3 pr-3 pl-3">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
          {% endif %}
        </div>
        <div class="card-body row">
          {% if validlink %}
            <form action="" method = "post">
              {% csrf_token %}
              <div class="col-12">
                {{form.new_password1|as_crispy_field}}   
              </div>
              <div class="col-12">
                {{form.new_password2|as_crispy_field}}
              </div> 
              <div class="col-12 ">
                <a class = "show-form small" href = "{% url 'user:password_reset' %}" data-class = "modal-sm">Request new password reset</a>  
                <input type="submit" name = "reset-password" value = "Reset" class = "btn btn-outline-primary rounded-pill float-right">
              </div>
            </form>   
          {% endif %}
        </div>

    </div>
  </div>


{% endblock main %}
  
