{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}
  {% if validlink %}
      <p class = "message col-sm-12 pt-3 pb-3 pr-3 pl-3">
          <small>
              Enter your new password
          </small>
      </p> 
  {% else %}
    <p class = "message col-sm-12 pt-3 pb-3 pr-3 pl-3">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  {{form|crispy}}
    <p style = "padding: 10px">
      <small>
        <a href = '{% url 'user:login' %}' >Login</a><br />
        <a href = '{% url 'user:password_reset' %}' >Request new password reset</a>
      <small>
    </p>

{% endblock main %}
  
