{% extends 'registration/login.html' %}
{% load crispy_forms_tags %}
{% block message_block %}
  {% if validlink %}
      <p class = "message col-sm-12 pt-3 pb-3 pr-3 pl-3">
          <small>
              Enter your new password
          </small>
      </p> 
  {% else %}
    <p class = "message col-sm-12 pt-3 pb-3 pr-3 pl-3">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock message_block %}

{% if validlink %}
  {% block submit_button %}
      <input type = 'submit' name = 'submit' value = 'Reset password' class = 'btn btn-primary '/>
  {% endblock submit_button %}
{%endif %}

{% block form_extra_link %}
    <p style = "padding: 10px">
      <small>
        <a href = '{% url 'signin' %}' >Login</a><br />
        <a href = '{% url 'password_reset' %}' >Request new password reset</a>      
      <small>
    </p>
{% endblock form_extra_link %}
