{% extends "base.html" %}
{% block main %}
<div class="row shadow m-1 mt-4">
    <div class="col-12 bg-dark-secondary p-5">
        <h1 class = "display-4 text-white text-right">
            My Dashboard
        </h1>
    </div>
</div>

<div class="row mt-4 m-1">
    <div class="col-12">
        <h3 >My Saved Events and Organization</h3>
    </div>
</div>
<div id="saved-events">
   
</div>

<div id = "subscriptions">
    
</div>

{% endblock main %}
{% block js %}
    <script>
        $(function(){
            $("#saved-events").load("/accounts/dashboard/saved-events/")
            $("#subscriptions").load("/accounts/dashboard/subscriptions/")
        });
    </script>
{% endblock js %}