{% extends "registration/profile.html" %}
{% load crispy_forms_tags %}

{% block intro %}
     <em>Hello, <strong>{{request.user.volunteer}}</strong>.Tell us about yourself and how we can contact you.</em>
{% endblock intro %}

{% block info %}
    <div class="col-md-7 col-lg-6 mt-sm-2">
        <div class="row">
            <label class = "text-muted  col-lg-3 col-4 text-right">First Name</label>
            <div class="col-lg-9 col-8">
                {{volunteer.first_name|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted  col-lg-3 col-4 text-right">Last Name</label>
            <div class="col-lg-9 col-8">
                {{volunteer.last_name|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-lg-3 col-4 text-right">
                Date of Birth
            </label>
            <div class="col-lg-9 col-8">
                {{volunteer.dob|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-lg-3 col-4 text-right">
                Biography
            </label>
            <div class="col-lg-9 col-8">
                {{volunteer.bio|as_crispy_field}}
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-5 col-lg-3"></div>
    <div class="col-md-7 col-lg-6 mt-sm-2">
        <div class="row">
            <div class="col-lg-9 col-8 ml-auto">
                <input type="submit" name = "profile-settings" value = "Save Profile" class = "btn btn-secondary btn-dark-primary">
            </div>    
        </div>
    </div>
{% endblock info %}