{% extends "registration/profile.html" %}
{% load crispy_forms_tags %}

{% block intro %}
     <em>Hello, <strong>{{request.user.organizer.name}}</strong>.Tell us about your organization and how we can contact you.</em>
{% endblock intro %}

{% block info %}
    <div class="col-md-7 col-lg-6 mt-sm-2">
        <div class="row">
            <label class = "text-muted col-md-5 text-md-right">Name</label>
            <div class="col-md-7">
                {{organizer.name|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-md-5 text-md-right">Description Name</label>
            <div class="col-md-7">
                {{organizer.description|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted  col-md-5 text-md-right">Main Contact Number</label>
            <div class=" col-md-7">
                {{contact.primary_no|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-md-5 text-md-right">Secondary Contact Number</label>
            <div class="col-md-7">
                {{contact.secondary_no|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-md-5 text-md-right">Website</label>
            <div class="col-md-7">
                {{contact.website|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-md-5 text-md-right">Facebook</label>
            <div class="col-md-7">
                {{contact.facebook|as_crispy_field}}
            </div>
        </div>
         <div class="row">
            <label class = "text-muted col-md-5 text-md-right">Instagram</label>
            <div class="col-md-7">
                {{contact.instagram|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-md-5 text-md-right">Secondary Twitter</label>
            <div class="col-md-7">
                {{contact.twitter|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-lg-3 col-4 text-right">
                Location
            </label>
            <div class="col-lg-9 col-8">
                {{location.name|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <label class = "text-muted col-lg-3 col-4 text-right">
                Full Address
            </label>
            <div class="col-lg-9 col-8">
                {{location.address|as_crispy_field}}
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-5 col-lg-3"></div>
    <div class="col-md-7 col-lg-6 mt-sm-2">
        <div class="row">
            <div class="col-7 ml-auto">
                <input type="submit" name = "profile-settings" value = "Save Profile" class = "btn btn-secondary btn-dark-primary">
            </div>    
        </div>
    </div>
{% endblock info %}