{% load crispy_forms_tags %}

<form action="{% url 'user:signup_org' %}" method = "post" class="ajax-submit">
    
    {% csrf_token %}
    {{organizer|crispy}}
    
    <div class="form-row">
        <strong class = "w-100 mb-2 font-weight-bolder text-white">
            Contact Details
        </strong>
        <div class="col-6">{{contact.primary_no|as_crispy_field}}</div>
        <div class="col-6">{{contact.secondary_no|as_crispy_field}}</div>
        <div class="col-12">{{contact.website|as_crispy_field}}</div>
        <div class="col-12">{{contact.facebook|as_crispy_field}}</div>
        <div class="col-12">{{contact.twitter|as_crispy_field}}</div>
        <div class="col-12">{{contact.instagram|as_crispy_field}}</div>
    </div>

    <div class="form-row">
        <strong class = "w-100 mb-2 font-weight-bolder text-white">
            Authentication Details
        </strong>
        <div class="col-12">{{user.email|as_crispy_field}}</div>
        <div class="col-12 mb-2">{{user.password1}}</div>
        <div class="col-12">{{user.password2|as_crispy_field}}</div>
    </div>
    <div class="row">
        <div class="col-auto ml-auto">
            <input type="submit" name="addvolunteer" value="Sign Up" class = "btn btn-success"/>
        </div>
    </div>
</form>
