{% extends "event/detail.html" %}
{% block volunteers %}
    <div class="row ">
        <div class="col-lg-8 col-md-12 m-auto ">
            <form action="" method = "get">
                <div class="form-row mx-2 my-2">
                    <div class="col-md-6">
                        <input type="text" name = "location" value = "{{request.GET.location}}" placeholder="Search by location name" class = "form-control ">
                    </div>
                    <div class="col-md-6">
                        <input type="text" name = "address" value = "{{request.GET.address}}" placeholder="Search by location full address" class = "form-control ">
                    </div>
                </div>
                <div class="form-row mt-2 mx-2">
                    <div class="col-auto ml-auto">
                        <input type="submit" name = "search" value = "Search" class = "btn btn-outline-primary rounded-pill btn-sm"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
  {% include "volunteer/list_inner.html" %}
  {% include "paginator.html" %}
{% endblock volunteers %}
